.message {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  margin-bottom: 30px;

  .messageInfo {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    color: gray;
    font-weight: 300;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .messageContent {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      background-color: white;
      padding: 10px 20px;
      border-radius: 0px 10px 10px 10px;
      max-width: max-content;
    }
    img {
      width: 50%;
      // object-fit: cover;
      object-position: center;
    }
  }

  // change the message position style if the message sent belongs to the owner

  &.owner {
    flex-direction: row-reverse;

    .messageContent {
      align-items: flex-end;
      p {
        background-color: #8da4f1;
        color: white;
        border-radius: 10px 0px 10px 10px;
      }
    }
  }
}
