.search {
  border-bottom: 1px solid gray;

  .searchForm {
    padding: 10px;
    input {
      background-color: transparent;
      border: none;
      color: white;
      outline: none;

      &::placeholder {
        color: lightgray;
      }
    }
  }
}
